html {
    padding: 0;
    margin: 0;
    background: url(/assets/Images/animalwallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Bitter', 'Times New Roman', serif;
    height:100%;
}

body {
    color:black;
    text-shadow:
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white;
    font-family: 'Bitter', 'Times New Roman', serif;
    height:100%;
}

header {
    width:70%;
    margin: 1vw 15%;
    background-color:#fd6c76;
    padding: 1vw 0 1vw 0;
    border:0.25vw solid black;
}

.container {
    width:70%;
    height:35vw;
    margin:1.5vw 15%;
    background-color:#5b9932;
    padding:1vw 0 1vw 0; 
    border:0.25vw solid black;
}

h1 {
    font-size:4vw;
    text-align:center;
}

h2 {
    font-size:3vw;
    text-align:center;
}

h3 {
    font-size:3vw;
    text-align:center;
}

#mainWord {
    background-color:orange;
    width:100%;
}


#sectionRight,
#sectionLeft {
    float:left;
    width:50%;
    padding-top:1vw;
    padding-bottom:1vw;
}

#sectionLeft {
    background-color:purple;

}   

#sectionRight {
    background-color:yellow;
}