html {
    padding: 0;
    margin: 0;
    background: url(../Images/animalwallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Bitter', 'Times New Roman', serif;
    height:100%;
}

body {
    color:black;
    text-shadow:
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white;
    font-family: 'Bitter', 'Times New Roman', serif;
    height:100%;
}

header {
    width:70%;
    margin: .75vw 15%;
    background-color:#fd6c76;
    padding: 1vw 0 1vw 0;
    border:0.25vw solid black;
}

.container {
    width:70%;
    height:20vw;
    margin:1vw 15%;
    background-color:#5b9932;
    padding:0;
    border:0.25vw solid black;
}

h1 {
    font-size:2.5vw;
    text-align:center;
}

h2 {
    font-size:2vw;
    text-align:center;
}

h3 {
    font-size:2vw;
    text-align:center;
}

#mainWord {
    background-color:#6aadbe;
    width:70%;
    margin:1vw 15%;
    padding-top:1vw;
    padding-bottom:1vw;
    border:0.25vw solid black;
}


#sectionRight,
#sectionLeft {
    float:left;
    width:50%;
    padding-top:2vw;
    padding-bottom:1vw;
}

#lettersChosen,
#wins {
    height:4vw;
    margin-top:2vw;
}